.cart-container {
  padding: 20px;
}

.cart-grid {
  display: flex;
  flex-wrap: wrap;
}

.cart-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-image {
  max-width: 100px;
  margin-bottom: 10px;
}

.cart-item-details {
  text-align: center;
}

button {
  background-color: #36f482;
  color: rgb(12, 11, 11);
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}
