/* Footer.css */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 1rem 2rem;
    text-align: center;
    width: 70%; /* Full width */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

footer a {
    color: #4caf50; /* Accent color */
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    footer {
        padding: 1rem;
    }

    footer p {
        font-size: 0.875rem;
    }
}
